body
{
	background:#d0cf9f url(../Images/hardingLayer_0013_background.png) left top repeat-x; 	
}

a
{
    text-decoration: none;
}

p
{
	font-family:"Arial";
	font-size:12px;
	color:#000;
}

#wrapper {
	width:900px;
	margin:0 auto;
}

header#main-header {
	
	width:900px;
	height:66px;
	padding-bottom:0px;
	overflow:hidden;
	margin:0 auto;
}

header h1 a
{
	margin-left:0px;
	float:left;
	background:transparent url(../Images/hardingLayer_0010_red-Heart.png) left top no-repeat;
	width:355px;
	height:0px;
	display:block;
	overflow:hidden;
	padding-top:57px;
}

header ul
{
	margin:0px;
	padding:0;
}

header ul li
{
	float:left;
	background:transparent url(../Images/unselectedTabBackground.png) top left repeat-x;
	width:99px;
	height:36px;
	list-style-type: none;
	font-family:"Courier New";
	text-align: center;
}

header ul li+li {
	border-left: solid 1px #1b1818;
}

header ul li a
{
	font-weight:bold;
	padding: 0.5em 1em;
	display:block;
	color: #FFFFFF;
}

#main-nav
{
	margin-top:13px;
	float:right;
	width:500px;
	overflow:hidden;
	
}

footer {
	
	width:900px;
	margin:0 auto;
	background-color:#FFF;
	overflow:hidden;
	border-bottom: solid 1px #1b1818;
	
}

section
{
	width:900px;
}

#content
{
	overflow:hidden;
	background-color:#FFF;
	width:900px;
	margin:0 auto;
}

#main-image
{
	margin-top:16px;
	width:613px;
	float:left;
}

#sidebar-left
{
	width:200px;
	float:left;
}

#sidebar-right
{
	width:266px;
	float:left;
}

#main-article
{
	width:400px;
	padding:10px;
	float:left;
}

aside
{
	float:left;
	width:278px;
}

.right-sidebar
{
	display:block;
	height:0px;
	float:left;
}

#timer-content
{
	overflow:hidden;
	height:0px;
}

#apply-box
{
	float:left;
	margin-top:7px;
	background:transparent url(../Images/hardingLayer_0001_apply.png) left top no-repeat;
	overflow:hidden;
	width:284px;
	height:0px;
	padding-top:135px;
}

#visit-box
{
	float:left;
	margin-top:-12px;
	background:transparent url(../Images/hardingLayer_0002_visit.png) left top no-repeat;
	overflow:hidden;
	width:287px;
	padding-top:269px;
}

#sidebar-left-title
{
	float:left;
	width:222px;
	height:80px;
	margin-left:-16px;
}

#sidebar-left-title a
{
	background:transparent url(../Images/hardingLayer_0003_your-guide.png) left top no-repeat;
	width:222px;
	height:0px;
	padding-top:80px;
	display:block;
	overflow:hidden;
	
}


#sidebar-picture
{
	float:left;
	background:transparent url(../Images/hardingLayer_0004_sidebar-phto-rule.png) left top no-repeat;
	overflow:hidden;
	display:block;
	width:196px;
	height:0px;
	padding-top:371px;
	margin:3px auto;
}

#sidebar-quote
{
	float:left;
	background:transparent url(../Images/hardingLayer_0005_left-side-pull-quote.png) left top no-repeat;
	overflow:hidden;
	display:block;
	width:194px;
	height:0px;
	padding-top:107px;
}

#main-content
{
	top:-18px;
	left:62px;
	background-color:#FFF;
	width:900px;
	height:600px;
}

#harding-logo
{
	background:transparent url(../Images/hardingLayer_0006_harding-logo.png) center top no-repeat;
	overflow:hidden;
	display:block;
	width:100%;
	height:0px;
	padding-top:127px;
}

h3
{
	font-family:"Courier New";
	font-size:12px;
	color:#FFF;
	text-align:center;
}

#right-sidebox-1
{
	background:transparent url(../Images/hardingRightSideBox1.png) left top no-repeat;
	width:256px;
	height:219px;
}

#right-sidebox-2
{
	margin-top:15px;
	background:transparent url(../Images/hardingRightSideBox2.png) left top no-repeat;
	width:256px;
	height:467px;
}

#social-nav
{
	padding:0;
	float:left
}

#social-nav li
{
	background-color:#0AF;
	float:left;
	width:15px;
	height:15px;
	margin:2px;
	list-style-type: none;
	font-family:"Courier New";
	text-align: center;
}

#bottom-tabs
{
	float:right;
	border: 1px solid #600;
	padding:0px;
	margin:0px;
}

#bottom-tabs ul
{
	padding:0;
	float:right
}

#bottom-tabs ul li
{
	float:left;
	background:transparent url(../Images/unselectedTabBackground.png) top left repeat-x;
	width:78px;
	height:27px;
	list-style-type: none;
	font-family:"Courier New";
	font-size:12px;
	text-align: center;
}

#bottom-tabs ul li+li
{
	border-left: solid 1px #1b1818;;
}

#bottom-tabs ul li a
{
	color: #FFFFFF;
}
